ul {
    padding: 0;
    list-style: none;
}

ul li {
    padding: 1rem;
}

ul li:hover {
    cursor: pointer;
    background-color: aquamarine;
}

.isOk {
    background-color: aqua;
}

.isNotOk {
    background-color: red;
}